main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.translator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    gap: 1em;
    padding: 1em;

    &__selector {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;

        &__input, &__output {
            width: 50%;
            padding: 5px;
        }
    }

    &__switch-btn {
        &__img {
            padding: 0.5em 1em;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 90%;
        gap: 1em;

        &__input {
            height: 50%;
        }

        &__output {
            height: 50%;
            background-color: grey;
            border: 1px solid grey;
        }
    }
}