main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.translator {
    display: flex;
    gap: 1em;
    border: 1px solid black;
    padding: 1em;

    &__input, &__output {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &__field {
            height: 10em;
        }
    }
}

.switch {
    display: block;
}

.switch-btn {
    padding: 5px;
}

.translate-btn {
    margin: 1em;
}