@use './partials/variables' as v;

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    font-family: v.$text-font;
}

.translator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 95%;
    gap: 1em;
    padding: 1em;

    &__selector {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;

        &__input, &__output {
            width: 50%;
            padding: 5px;
            font-family: v.$text-font;
        }

        &__output {
            pointer-events: none;
            touch-action: none;
            appearance: none;
            border: 1px solid grey;
            border-radius: 5px;
            height: 85%;
        }
    }

    &__switch-btn {
        &__img {
            padding: 0.5em 1em;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 90%;
        gap: 1em;

        &__input {
            height: 50%;
            font-family: v.$text-font;
        }

        &__output {
            height: 50%;
            background-color: #f0f0f0;
            border: 1px solid grey;
            white-space: pre-wrap;
            overflow-y: auto;
            padding: 1em;
        }
    }
}